.App {
  text-align: center;
  background-color: rgb(254, 254, 254);
  padding: 5%;
}
select{
  width: 92%;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
}

@media (max-width: 1080px) {
  .App{
    padding: 2%;
    margin: 0%;
    width: 94%;
  }
  .logo{

    width: 70px;
    height: 70px;
  
  }
  .edit-icon{
    width: 20%;
  }
}

.logo{
  width: 100px;
  height: 100px;

}
.edit-icon{
  width: 20%;
}
